<div class="container-fluid">
    <div class="col-12" id="cdr">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">序号</th>
                <th scope="col">开始时间</th>
                <th scope="col">结束时间</th>
                <th scope="col">源地址</th>
                <th scope="col">目标地址</th>
                <th scope="col">Method</th>
                <th scope="col">持续时长</th>
                <th scope="col">Call-ID</th>
                <th scope="col">UID</th>
                <th scope="col">主叫</th>
                <th scope="col">被叫</th>
                <th scope="col">消息数</th>
                <th scope="col">临时响应</th>
                <th scope="col">最终响应</th>
                <th scope="col">UA</th>
              </tr>
            </thead>
            <tbody>
              <%for ( let i = 0; i < table.length; i++ ) { let v = table[i] %>
                <tr>
                  <th scope="row"><%= i %></th>
                  <td><%= v.startTime %></td>
                  <td><%= v.stopTime %></td>
                  <td><%= v.srcHost %></td>
                  <td><%= v.dstHost %></td>
                  <td><%= v.cseq_method %></td>
                  <td><%= v.duration %></td>
                  <td>
                    <a href="/api/call?id=<%= v.CallID %>&day=<%= v.day %>" target="_blank"> <%= v.CallID %> </a>
                  </td>
                  <td><%= v.uid %></td>
                  <td><%= v.caller %></td>
                  <td><%= v.callee %></td>
                  <td><%= v.msgTotal %></td>
                  <td><%= v.tempCode %></td>
                  <td><%= v.finalCode %></td>
                  <td><%= v.UA %></td>
                </tr>
              <%} %>
            </tbody>
          </table>
    </div>
</div>